<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Web Team</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Subrayada:wght@700&display=swap" rel="stylesheet">
    
    <script src="https://kit.fontawesome.com/c502137733.js"></script>
    
</head>

<body>
    <div class="container-fluid jumbotron" style="font-family:'Montserrat Subrayada', sans-serif; background-color: rgb(23, 149, 180);
    color: rgb(10, 55, 92)">
        <div class="row">
            <div class="col-12  mb-3 team-heading">
                <h1 class="text-center" style= "font-family:'Montserrat Subrayada', sans-serif">My Team</h1>
            </div>
        </div>
    </div>
    <div  style="background-image: url(https://previews.123rf.com/images/monsitj/monsitj1901/monsitj190100027/118032542-programming-code-abstract-technology-background-of-software-developer-and-computer-script.jpg);
    background-repeat: no-repeat;
    background-size: 100%">
    <div class="container">
        <div class="row">
            <div class="team-area col-12">
                {{ team }}
            </div>

        </div>
    </div>
</div>
</body>

</html>
