#header {
    font-family:'Montserrat Subrayada', sans-serif;;
    background-color: rgb(10, 55, 92);
    color: rgb(23, 149, 180);
}


#backImg {
    background-image: url("https://previews.123rf.com/images/monsitj/monsitj1901/monsitj190100027/118032542-programming-code-abstract-technology-background-of-software-developer-and-computer-script.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.card-header {
    background-color: rgb(23, 149, 180);
    color: rgb(10, 55, 92);
}